    body{
      font-family: Helvetica;
    }
    

    .blue-button{
      background-color: rgba(25,90,180);
      border-radius: 4px;
      border-color: rgb(255,255,255);
      border-style: solid;
      border-width: 0.8px;
      margin-top: 20px;
      color: rgb(255,255,255);
      cursor: pointer;
      padding: 11px 15px;
    }


    .Banner{
     display: flex;
     align-items: center;
     background-image: url('./images/hero-banner-desktop.png');
     background-size: cover;
     padding-top: 50px; 
     padding-bottom: 50px; 
     min-height: 30rem;
  
    }

    #BannerBackgroung h1{
     font-size: 2rem;
     max-width: 25rem;
     line-height: 150%;
     font-weight: lighter;
    }

    #BannerBackgroung p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;

    }
  


@media screen and (max-width: 1050px)  {

  .Banner{
    display: flex;
    align-items: flex-start;
    background-image: url('./images/hero-banner-mobile.png');
    background-size: cover;
    padding-top: 50px; 
    padding-bottom: 50px; 
    min-height: 45rem;
  }

  #BannerBackgroung h1{
    font-size: 1.25rem;
    max-width: 10rem;
   }
}


